div.head {
    width: auto;
    margin: 0px;
    padding: 15px;
    background-size: cover;
    background-color: black;
    color: cornsilk;
}

div{
    display: block;
}
h1{
    text-align: center;
}

#map {
    height: 1000px;
}

table{
    width: 100%;
}

* {
    box-sizing: border-box;
}

row{
    display: flex;
}

.column-1{
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
}

.column-2{
    float: right;
    width: 50%;
    padding: 10px;
}

.row:after{
    content: none;
    display: table;
    clear: both;
}

footer{
    position:fixed;
    bottom: 0;
    font-family:'Helvetica';
    width:100%;
    margin: 0px;
    padding: 15px;
    text-align: center;
    background-color: darkgray;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
}